# Temporarily ignoring files
gitalias ignore='git update-index --assume-unchanged'
gitalias unignore='git update-index --no-assume-unchanged'
gitalias ignored="git ls-files -v | env --unset=GREP_OPTIONS grep --perl-regexp '^[a-z]\s' | cut --delimiter=' ' --fields=2-"
